@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
.footer_homepage {
    background-color:#7A247D;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Bellota Text';
}
/**Título do footer**/
.title_footer-homepage {
    color: white;
    font-weight: 400;
}
/**Mapa**/
.map {
    width: 22vw;
    height: 13vw;
    background-color: grey;
}
.map > iframe {
    width: 22vw;
    height: 13vw;
}

.container_principal_footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/**Informação do footer: numero e localização**/
.information_footer-homepage {
    color:white;
}
.information_footer-homepage >p {
    display: flex;
    gap: 10px;
}
/**Copyright no final do footer**/
.copyright {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5C661;
    width: 100vw;
    height: 3vh;
    font-weight: 600;
}
