
    <main class="main-login">
        <p class="paragraphy">Olá, tiamatcod (não é tiamatcod? Sair)<br><br>A partir do painel de controle de sua conta, você pode ver suas compras recentes, gerenciar seus endereços de entrega e faturamento, e editar sua senha e detalhes da conta.</p>
        <div class="information-login">
           <div class="full-name">
              <div class="frist-name">
                <h3>Nome</h3><br>
                <input type="text" placeholder="Digite seu nome" class="search-bar-name"></input>
              </div>
              <div class="last-name">
                <h3>Sobrenome</h3><br>
                <input type="text" placeholder="Digite seu Sobrenome" class="search-bar-name"></input>
              </div>
           </div>
           <div class="email-login">
            <h3>Email</h3><br>
            <input type="text" placeholder="Digite seu email" class="search-bar-login"></input>
          </div>
          <div class="password-login">
            <h3>Senha atual (deixe em branco para não alterar)</h3><br>
            <input type="password" placeholder="Digite sua senha atual" class="search-bar-login"></input>
          </div>
          <div class="new-password-login">
            <h3>Nova senha (deixe em branco para não alterar)</h3><br>
            <input type="password" placeholder="Digite sua nova senha" class="search-bar-login"></input>
          </div>
          <div class="confirm-password-login">
            <h3>Confirmar nova senha</h3><br>
            <input type="password" placeholder="Confirme sua nova senha" class="search-bar-login"></input>
          </div>
          <div class="button-confirm-login">
              <button>SALVAR ALTERAÇÕES</button>
          </div>
        </div>
    </main>
