.body-page-login{
    font-family: 'Bellota Text', cursive;
    overflow-x: hidden;
  }
  /**header**/
.header {
    background-color: #7A247D ;
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 17vh;
    justify-content: center;  
    overflow-x: hidden;
}

.container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo-page {
    margin-left: 0vw;
}
.search-bar-header {
    color:#F5C661;
    border: 0;
    border-bottom: 1px solid #F5C661;
    background-color: transparent;
    width: 25vw;
}
header input::placeholder {
    color: #F5C661;
}

.title-request-header {
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    margin-left: 15vw;
    padding: 5px;
    background-color: #F5C661;
    cursor: pointer;
}
.logo-perfil{
    margin: 0px;
    max-width: 8px;
}
.footer-copyright {
    text-align: center;
    height: 19px;
    background-color: #F5C661;
    width: 100vw;
}
.container-header-nav {
    display: flex;
    flex-direction: row;
    background-color: #F5C661;
    align-items: center;
    justify-content: center;
}
.painel{
    margin-left: 0vw;
    cursor: pointer;
}
.pedidos{
    margin-left: 15vw;
    cursor: pointer;
}
.endereco{
    margin-left: 15vw;
    cursor: pointer;
}
.sair{
    margin-left: 15vw;
    cursor: pointer;
}
/**Div principal da tela de login**/
.main-login {
    margin-top: 4vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.information-login {
    display: flex;
    flex-direction: column;
}
.paragraphy {
    width: 65vw;
}
/**nome e sobrenome**/
.full-name {
    display: flex;
    flex-direction: row;
}
.frist-name {
    margin-right: 4vw;
}
.search-bar-name {
    width: 30vw;
    border: 0;
    border-bottom: 1px solid #000000;
    background-color: transparent;
}
/**Continuação das informações**/
.search-bar-login {
    width: 64vw;
    border: 0;
    border-bottom: 1px solid #000000;
    background-color: transparent;
}
/**Botão confirmar login**/
.button-confirm-login {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-confirm-login button {
    margin-top: 6vh;
    margin-bottom: 6vh;
    background-color: #7A247D;
    color: white;
    border: transparent;
    padding: 6px;
    cursor: pointer;
}