.achive_product { 
    display: flex;
    flex-direction: column;
}
.container_archive_product {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container_archive_product > nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    gap: 30px;
    margin-left: 10vw;
}

.container_archive_product > nav > a{
    text-decoration: none;
}

.container_archive_product > nav > a > picture > img {
    width: 240px;
    height: 210px;
}
.container_archive_product > nav > a > div {
    position: relative;
    bottom: 50px;
    width: 240px;
    height: 46px;
    display: flex;
    align-items: center;
    font-family: 'Bellota Text';
    letter-spacing: 1px;
    color: white;
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
}
.container_archive_product > nav > a > div >{
    margin-left: 10px;
    font-size: 24px;
    font-weight: 700;
}
.selecione {
    width: 50vw;
    display: flex;
    justify-content: flex-start;
}

.pratos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 700;
    width: 50vw;
}
.pratos > p {
    font-size: 25px;
    margin: 0px;
    
}
.products , columns-4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-left: 10vw;
    gap: 50px;
    width: 70vw;
} 
.products li img {
    width: 240px;
    height: 373px;
    position: relative;
}


.woocommerce-pagination > ul {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    width: 10vw;
    gap: 30px;
    list-style: none;
    color: black;
}
.woocommerce-ordering {
    font-size: 18px;
}
.woocommerce-ordering > select {
    border: transparent;
    background-color: transparent;
    border-bottom: 3px solid #6A066D;
}
.filtro_preco {
    display: flex;
    flex-direction: row;
}
.de {
    display: flex;
    flex-direction: row;
}
.filtro_preco > div > input {
    margin-right: 20px;
    background-color: transparent;
    border: transparent;
    border-bottom: 3px solid#6A066D;
}
.filtro_preco > button {
    background-color: #6A066D;
    border: transparent;
    color: white;
    cursor: pointer;
    display: none;
}
.pesquisar {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.woocommerce-pagination > ul > li > a {
    text-decoration: none;
    color: black;
}

.woocommerce-result-count {
    display: none;
}
.ordenacao {
    margin-right: 80px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 260px;
    margin-bottom: 5vh;
}
