.main_check{
    display: flex;
    background: #E7FAFE;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.container_check {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.container_check2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.woocommerce-shipping-fields__field-wrapper > p {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
}
.woocommerce-shipping-fields__field-wrapper > p > span >input {
    margin-top: 2vh;
    border: transparent;
    background-color: transparent;
    width: 30vw;
    border-bottom: 3px solid #7A247D;

}
#order_comments_field{
    display: none;
}
.product-image > img {
    width: 110px;
    height: 100px;
}
.linha {
    width: 2px;
    background-color: black ;
    height: 80vh;
    margin-bottom: 3vh;
    margin-right: 3vw;
    margin-left: 3vw;
}
.woocommerce-privacy-policy-text > p{
    display: none;
}
#place_order {
    background-color: #7A247D;
    color: white;
    padding: 5px;
    border: transparent;
    
}
.cart_item {
    background-color: #FAFAFA;
}
.cart-subtotal{
    border-top: 3px solid black;
}