.main_edit_adress {
    display: flex;
    background: #E7FAFE;
    justify-content: center;
}

.div_edit_adress {
    margin-top: 10vh;
    width:60%;
}
.woocommerce-address-fields__field-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.woocommerce-address-fields__field-wrapper > p > label {
    font-weight: 500;
    font-size: 20px;
}
.woocommerce-address-fields__field-wrapper > p {
    margin-bottom: 30px;
}
.title_edit_adress {
    width: 52vw;
}
div.div_button_edit_adress {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_edit_adress {
    color: white;
    background-color: #7E3481;
    min-width: 10vw;
    padding: 5px;
    border: transparent;
    cursor: pointer;
}
.woocommerce-address-fields__field-wrapper > p{
    display: flex;
    flex-direction: column;
}
.woocommerce-address-fields__field-wrapper > #shipping_last_name_field{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}
.woocommerce-input-wrapper > #shipping_first_name {
    width: 22vw;
    margin-top: 15px;
    border: 0;
    border-bottom: 2px solid #6A066D;
    background-color: transparent;
}
.woocommerce-input-wrapper > #shipping_last_name {
    width: 35vw;
    margin-top: 15px;
    border: 0;
    border-bottom: 2px solid #6A066D;
    background-color: transparent;
}

.woocommerce-input-wrapper > input{
    width: 59vw;
    margin-top: 15px;
    border: 0;
    border-bottom: 2px solid #6A066D;
    background-color: transparent;
}
.required {
    display: none;
} 