.body-page-login{
    font-family: 'Bellota Text', cursive;
    overflow-x: hidden;
}

.header {
    background-color: #7A247D ;
    width: 100vw;
    display: flex;
    flex-direction: column;
    min-height: 12vh;
    justify-content: center;  
    overflow-x: hidden;
}

.container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container-header > i{
    font-size: 15px;
    color: #F5C661; 
}
.logo-page {
    margin-left: 0vw;
}
#form-search {
    display: flex;
    flex-direction: row;
}

header .search-field {
    color:#F5C661;
    border: 0;
    border-bottom: 1px solid #F5C661;
    background-color: transparent;
    width: 25vw;
}

header .woocommerce-product-search > button {
    border: 0px solid;
    background: transparent;
    color: #F5C661;
    border-bottom: 1px solid #F5C661;
    cursor: pointer;
}


header input::placeholder {
    color: #F5C661;
}

.title-request-header {
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    margin-left: 15vw;
    padding: 5px;
    background-color: #F5C661;
    cursor: pointer;
}
.logo-perfil{
    margin: 0px;
    max-width: 8px;
}
.footer-copyright {
    margin-top: 0px;
    text-align: center;
    align-items: center;
    min-height: 4vh;
    max-height: 6vh;
    background-color: #F5C661;
    width: 100vw;
}
.footer-copyright p {
    margin: 0px;
    padding: 0px;
}

