#main-myadress {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#div-myadress {
    margin-top: 10vh;
    width:60%;
    justify-content: center;
}