#main-account {
    display: flex;
    background: #E7FAFE;
    justify-content: center;
}

#div-account {
    margin-top: 10vh;
    width:60%;
}

.name_and_lastname_myaccount {
    display: flex;
    flex-direction: row;
    gap: 4vw;
}
.name_and_lastname_myaccount >p {
    display: flex;
    flex-direction: column;
    font-weight: 600;
}
.name_and_lastname_myaccount >p>input {
    margin-top: 15px;
    width: 30vw;
    border: 0;
    border-bottom: 2px solid #6A066D;
    background-color: transparent;
}

#div-account form>p {
    display: flex;
    flex-direction: column;
    font-weight: 600;
}
#div-account form>p>input {
    margin-top: 15px;
    width: 64vw;
    border: 0;
    border-bottom: 2px solid #6A066D;
    background-color: transparent;
}

.button-myaccount {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6vh;
}
.button-myaccount >button{
    margin-top: 6vh;
    margin-bottom: 6vh;
    min-width: 10vw;
    background-color: #7A247D;
    color: white;
    border: transparent;
    padding: 6px;
    cursor: pointer;
}