body {
    background-color: #E7FAFE;

}

.container_apresentation {
    width: 100vw;
    background-color:#7A247D;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
    height: 25vh;
}
/**Título de apresnetação do site**/
.title_apresentation { 
    color: #F5C661;
    font-weight: 700;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}
.subtitle_apresentation {
    color: white;
    font-weight: 300;
}
h2.subtitle_apresentation {
    margin: 0px;
    margin-bottom: 10vh;
}
/**Título: "Conheça nossa loja"**/
.title_welcome {
    font-family: 'Bellota Text';
    color: black;
    font-weight: 400;
    font-size:small;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}
/**Imagem"**/
.prato {
    position: relative;
}
.name_category {
    position: relative;
    bottom: 50px;
    width: 240px;
    height: 46px;
    display: flex;
    align-items: center;
    font-family: 'Bellota Text';
    letter-spacing: 1px;
    color: white;
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
}
.name_category > h2 {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 700;
}

.title_pratos_principais { 
    display: flex;
    align-items: flex-start;
    width: 54vw;
    font-weight: 700;
    font-size: 24px;
}

.main_ladding { 
    display: flex;
    justify-content: center;
}
.ladding_principal {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ladding_images_category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box1_ladding{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}
.box1_ladding picture {
    margin-left: 0px;
    margin-right: 30px;
}

.box1_ladding picture img {
    width: 240px;
    height: 210px;
}

.conatainer_titulo_prato-do-dia {
    width: 54vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: 700;
}
.conatainer_titulo_prato-do-dia >.dia_semana {
    margin-top: 0px;
}
.div_produtos_semana {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.div_produtos_semana > a > div > picture > img{
    width: 240px;
    height: 373px;
}

.div_produtos_semana > a > div > picture {
    margin-left: 0px;
    margin-right: 30px;
}
.div_produtos_semana > a {
    text-decoration: none;
}

.name_cart_price {
    position: relative;
    bottom: 126px;
    width: 240px;
    height: 105px; 
    font-family: 'Bellota Text';
    font-weight: 300;
    letter-spacing: 1px;
    color: white;
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
}
.name_cart_price > div > p {
    font-size: 18px;
 }
.cart_and_price {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 30px;
}

.cart_and_price > picture > img {
    background-color: #F5C661;
    padding: 3px;
    margin-left: 85px;
}
bdi {
    font-size: 24px;
    font-weight: 700;
}
.button_ladding > a > button {
    background-color: #F5C661;
    border: transparent;
    color: black;
    padding: 6px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 8vh;
    min-width: 10vw;
}