.body-page-login{
    font-family: 'Bellota Text', cursive;
    overflow-x: hidden;
  }
  /**header**/
.container-header-nav {
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #F5C661;
    align-items: center;
    justify-content: space-evenly;
    height: 8.2vh;
}

.container-header-nav a{
    text-decoration: none;
    color: #000000;
}

.painel {
    cursor: pointer;
 
}
.pedidos {
    cursor: pointer;
}

.endereco {
    cursor: pointer;
}

.sair {
    cursor: pointer;
}
/**Div principal da tela de login**/
.main-login {
    margin-top: 4vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.information-login {
    display: flex;
    flex-direction: column;
}
.paragraphy {
    width: 65vw;
}
/**nome e sobrenome**/
.full-name {
    display: flex;
    flex-direction: row;
}
.frist-name {
    margin-right: 4vw;
}
.search-bar-name {
    width: 30vw;
    border: 0;
    border-bottom: 1px solid #000000;
    background-color: transparent;
}
/**Continuação das informações**/
.search-bar-login {
    width: 64vw;
    border: 0;
    border-bottom: 1px solid #000000;
    background-color: transparent;
}
/**Botão confirmar login**/
.button-confirm-login {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-confirm-login button {
    margin-top: 6vh;
    margin-bottom: 6vh;
    background-color: #7A247D;
    color: white;
    border: transparent;
    padding: 6px;
    cursor: pointer;
}