.main_single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.summary ,entry-summary {
    position: absolute;
    width: 30vw;
    margin-left: 500px;
    top: 200px;
}

.woocommerce-Tabs-panel ,woocommerce-Tabs-panel--additional_information panel ,entry-content wc-tab {
    display: none;
}
